@page "/employees"
@attribute [Authorize(HealthCarePermissions.Employees.Default)]
@attribute [Authorize(Roles = "HumanResources")]
@using Pusula.Training.HealthCare.Employees
@using Pusula.Training.HealthCare.Localization
@using Pusula.Training.HealthCare.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using Pusula.Training.HealthCare.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits HealthCareComponentBase
@inject IEmployeeAppService EmployeeAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<HealthCareResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Employees"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

<Card>
    <CardBody>
        @*//<suite-custom-code-block-1>*@
        @*//</suite-custom-code-block-1>*@
        <Form id="EmployeeSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="EmployeeSearchForm" Clicked="GetEmployeesAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>

        <Row Class="mt-3 mb-3">
            <div class="col-md-12">
                <a href="javascript:;" class="text-decoration-none" @onclick="() => ShowAdvancedFilters = !ShowAdvancedFilters">@L["SeeAdvancedFilters"]</a>
            </div>
        </Row>

        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["FirstName"]</FieldLabel>
                        <TextEdit Text="@Filter.FirstName" TextChanged="@OnFirstNameChangedAsync" />
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["LastName"]</FieldLabel>
                        <TextEdit Text="@Filter.LastName" TextChanged="@OnFirstNameChangedAsync" />
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IdentityNumber"]</FieldLabel>
                        <TextEdit Text="@Filter.IdentityNumber" TextChanged="@OnFirstNameChangedAsync" />
                    </Field>
                    </Column>
            </Row>
            @*//<suite-custom-code-block-2>*@
            @*//</suite-custom-code-block-2>*@
        </div>

        @*//<suite-custom-code-block-3>*@
        @*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        @if (SelectedEmployee.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                @if (AllEmployeesSelected)
                {
                    <p class="lead mb-0">
                        @L["AllItemsAreSelected", TotalCount]
                    </p>
                }
                else
                {
                    <p class="lead mb-0">
                        @if (SelectedEmployee.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedEmployee.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    </p>
                }

                <div>
                    @if ((SelectedEmployee.Count == PageSize || SelectedEmployee.Count == EmployeeList.Count) && TotalCount > SelectedEmployee.Count)
                    {
                        if (!AllEmployeesSelected)
                        {
                            <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                        }
                        else
                        {
                            <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                        }
                    }

                    <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedEmployeesAsync">
                        <Icon Name="@IconName.Delete" /> @L["Delete"]
                    </Button>
                </div>
            </div>

            <hr class="my-1 mx-0" />
        }
        <DataGrid TItem="EmployeeWithNavigationPropertiesDto"
                  Data="EmployeeList"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedEmployee"
                  RowSelectable="@((args) => CanDeleteEmployee)"
                  SelectedRowsChanged="SelectedEmployeeRowsChanged"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>
            <DataGridColumns>

                @if (CanDeleteEmployee && EmployeeList.Any())
                {
                    <DataGridMultiSelectColumn TItem="EmployeeWithNavigationPropertiesDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }

                <DataGridEntityActionsColumn TItem="EmployeeWithNavigationPropertiesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="EmployeeWithNavigationPropertiesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="EmployeeWithNavigationPropertiesDto"
                                          Visible="@CanEditEmployee"
                                          Clicked="async () => await OpenEditEmployeeModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="EmployeeWithNavigationPropertiesDto"
                                          Visible="@CanDeleteEmployee"
                                          Clicked="() => DeleteEmployeeAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                            @*//<suite-custom-code-block-4>*@
                            @*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Department.Name"
                                Caption="@L["Department"]">
                </DataGridColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Employee.IdentityNumber"
                                Caption="@L["IdentityNumber"]">
                </DataGridColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Employee.FirstName"
                                Caption="@L["Firstname"]">
                </DataGridColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Employee.LastName"
                                Caption="@L["LastName"]">
                </DataGridColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Employee.Email"
                                Caption="@L["Email"]">
                </DataGridColumn>
                <DataGridColumn TItem="EmployeeWithNavigationPropertiesDto"
                                Field="Employee.MobilePhoneNumber"
                                Caption="@L["MobilePhoneNumber"]">
                </DataGridColumn>


            </DataGridColumns>


        </DataGrid>
    </CardBody>
</Card>


@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateEmployeeModal" Closing="@CreateEmployeeModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        @*//<suite-custom-code-block-5>*@
        @*//</suite-custom-code-block-5>*@
        <Form id="CreateEmployeeForm">
            <ModalHeader>
                <ModalTitle>@L["NewEmployee"]</ModalTitle>
                <CloseButton Clicked="CloseCreateEmployeeModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewEmployeeValidations"
                             Mode="ValidationMode.Auto"
                             Model="@NewEmployee"
                             ValidateOnLoad="false">


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FirstName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEmployee.FirstName" MaxLength="EmployeeConst.FirstNameMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["LastName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEmployee.LastName" MaxLength="EmployeeConst.LastNameMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["IdentityNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEmployee.IdentityNumber" MaxLength="EmployeeConst.IdentityNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["BirthDate"]</FieldLabel>
                            <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@NewEmployee.BirthDate">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Email"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEmployee.Email" MaxLength="EmployeeConst.EmailMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MobilePhoneNumber"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEmployee.MobilePhoneNumber" MaxLength="EmployeeConst.MobilePhoneNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="LH.Localize">
                        <Field>
                            <FieldLabel>@L["Gender"]</FieldLabel>
                            <Select TValue="EnumGender" @bind-SelectedValue="NewEmployee.Gender">
                                @foreach (var gender in GendersCollection)
                                {
                                    <SelectItem TValue="EnumGender" Value="@(gender.Id)">
                                        @(gender.DisplayName)
                                    </SelectItem>
                                }
                            </Select>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Department"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@NewEmployee.DepartmentId">
                            @foreach (var department in DepartmentsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(department.Id)">
                                    @(department.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateEmployeeModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateEmployeeForm" Clicked="CreateEmployeeAsync" />
                @*//<suite-custom-code-block-6>*@
                @*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
        @*//<suite-custom-code-block-7>*@
        @*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditEmployeeModal" Closing="@EditEmployeeModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        @*//<suite-custom-code-block-8>*@
        @*//</suite-custom-code-block-8>*@
        <Form id="EditEmployeeForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditEmployeeModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingEmployeeValidations"
                             Mode="ValidationMode.Auto"
                             Model="@EditingEmployee"
                             ValidateOnLoad="false">


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FirstName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEmployee.FirstName" MaxLength="EmployeeConst.FirstNameMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["LastName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEmployee.LastName" MaxLength="EmployeeConst.LastNameMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["IdentityNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEmployee.IdentityNumber" MaxLength="EmployeeConst.IdentityNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["BirthDate"]</FieldLabel>
                            <DateEdit TValue="DateTime" InputMode="DateInputMode.Date" @bind-Date="@EditingEmployee.BirthDate">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DateEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Email"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEmployee.Email" MaxLength="EmployeeConst.EmailMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["MobilePhoneNumber"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEmployee.MobilePhoneNumber" MaxLength="EmployeeConst.MobilePhoneNumberMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation MessageLocalizer="LH.Localize">
                        <Field>
                            <FieldLabel>@L["Gender"]</FieldLabel>
                            <Select TValue="EnumGender" @bind-SelectedValue="EditingEmployee.Gender">
                                @foreach (var gender in GendersCollection)
                                {
                                    <SelectItem TValue="EnumGender" Value="@(gender.Id)">
                                        @(gender.DisplayName)
                                    </SelectItem>
                                }
                            </Select>
                        </Field>
                    </Validation>

                    <Field>
                        <FieldLabel>@L["Department"]</FieldLabel>
                        <Select TValue="Guid" @bind-SelectedValue="@EditingEmployee.DepartmentId">
                            @foreach (var department in DepartmentsCollection)
                            {
                                <SelectItem TValue="Guid" Value="@(department.Id)">
                                    @(department.DisplayName)
                                </SelectItem>
                            }
                        </Select>
                    </Field>




                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditEmployeeModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditEmployeeForm" Clicked="UpdateEmployeeAsync" />
                @*//<suite-custom-code-block-9>*@
                @*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
        @*//<suite-custom-code-block-10>*@
        @*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>

